@font-face {
   font-family: ProximaNova;
   src: url(../Assets/Fonts/Proxima Nova/ProximaNova-Light.otf);
}

@font-face {
   font-family: ProximaNova_Italics;
   src: url(../Assets/Fonts/Proxima Nova/ProximaNova-LightItalic.otf);
   font-weight: italic;
}

@font-face {
  font-family: CooperHewitt_Thin;
  src: url(../Assets/Fonts/CooperHewitt/CooperHewitt-Thin.otf);
}

@font-face {
  font-family: CooperHewitt_ThinItalic;
  src: url(../Assets/Fonts/CooperHewitt/CooperHewitt-ThinItalic.otf);
}

@font-face {
  font-family: CooperHewitt_Book;
  src: url(../Assets/Fonts/CooperHewitt/CooperHewitt-Book.otf);
}

* {
  font-family: CooperHewitt_Book;
}
