header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 1; /*Always at top*/
  border-bottom: 1px solid grey;
}

.site-title {
  display: inline-block;
  margin-left: 6px;
  margin-right: 36px;
}

.main-menu {
  /*float: right;*/
  display: inline-block;
}

a.main-menu:link {
  /*Remove underline from links*/
  text-decoration: none;
  color: #EE7F2D;
}

a.nav-link:hover {
  color: #EE7F2D;
}

a {
  cursor: pointer;
  color: #EE7F2D;
}

.nav-link {
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}
